@media (min-width: 769px) {
  .hide--desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide--mobile {
    display: none;
  }
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.gap-h {
  gap: 0 1rem;
}

@media (max-width: 768px) {
  .m-fd-column {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .col-2 {
    max-width: 50%;
    min-width: 50%;
  }
}

.text-upper {
  text-transform: uppercase;
}